.paginator {
    margin: 10px;
}

.pageNumber {
    padding: 2px;

}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;

    font-size: 20px;
}

.inputPage textarea {
    width: 40px;
    height: 15px;
    outline: none;
    resize: none;
}
