.paginator {
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 10px 10px 40px 10px;
}

.pageNumber {
    margin: 2px;

}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
    font-size: 20px;
}

.inputPage textarea {
    width: 44px;
    height: 16px;
    outline: none;
    resize: none;
}

.insertPageForm {
    display: flex;
    flex-direction: row;
    margin-left: 30px;

}

.insertPageForm button {
    width: 40px;
    height: 21px;
    margin-left: 3px;
}


