.paginator {
    margin: 10px;
}

.pageNumber {
    padding: 2px;

}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color:  black;

    font-size: 20px;
}

.paginatorInserPage {
    width: 40px;
    height: 20px;
}