img {
    margin: 10px;
    border-radius: 10px;
}
.descriptionBlock{
    padding-left: 19px;
}
.contactsUser {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border-color: black;
    border-width: 1px;
}
.photo {
    width: 100px;
    height: 100px;
}