.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    height: 100%;
}

.active a {
    text-decoration: none;
}

.dialogsItem {
    background-color: #b9dcee;
    padding: 20px;
    line-height: 200%;
    border-right-style: solid;
    border-color: white;
    border-radius: 10px 0px 0px 10px;
}

.messages {
    display: grid;
    grid-template-rows: 420px 1fr;
    padding: 20px;
    border-radius: 0px 10px 10px 0px;
}

.messages2 {
    background-color: rgba(185, 220, 238, 0.05);
}

.inputWindow {
    display: grid;
    align-content: end;
}

textarea {
    width: 700px;
    height: 130px;
    border-radius: 10px;
    outline: none;
    resize: none;
    padding: 5px 10px;
    vertical-align: bottom;
}


button {
    border-radius: 4px;
    background-color: #5a9dd2;
}
